body{
    padding:0px;
}
.a{ height: 70px; margin-top:100px; margin-bottom:35px; border-top: 3.5px solid black; border-bottom: 3.5px solid black; border-right: 3.5px solid black;}
.b{ height: 70px; margin-top:35px; border-top: 3.5px solid black; border-bottom: 3.5px solid black; border-right: 3.5px solid black;}
.c{ height: 70px; margin-top:35px; border-top: 3.5px solid black; border-bottom: 3.5px solid black; border-right: 3.5px solid black;}
.d{ height: 70px; margin-top:35px; border-top: 3.5px solid black; border-bottom: 3.5px solid black; border-right: 3.5px solid black;}
.e{ height: 70px; margin-top:35px; border-top: 3.5px solid black; border-bottom: 3.5px solid black; border-right: 3.5px solid black;}
.f{ height: 70px; margin-top:35px; border-top: 3.5px solid black; border-bottom: 3.5px solid black; border-right: 3.5px solid black;} 
.g{ height: 70px; margin-top:35px; border-top: 3.5px solid black; border-bottom: 3.5px solid black; border-right: 3.5px solid black;}
.h{ height: 70px; margin-top:35px; margin-bottom:100px; border-top: 3.5px solid black; border-bottom: 3.5px solid black; border-right: 3.5px solid black;} 
.j{height: 70px;   margin-top:65px;margin-bottom: 105px; border-top: 3.5px solid black; border-bottom: 3.5px solid black; border-right: 3.5px solid black;}
.k{height: 105px; margin-bottom: 105px;border-top: 3.5px solid black; border-bottom: 3.5px solid black; border-right: 3.5px solid black;}
.l{height: 105px;margin-bottom: 105px; border-top: 3.5px solid black; border-bottom: 3.5px solid black; border-right: 3.5px solid black;}
.m{height: 105px; margin-bottom: 105px;border-top: 3.5px solid black; border-bottom: 3.5px solid black; border-right: 3.5px solid black;}
.n{margin-top:95px; height:192.5px;border-top: 3.5px solid black; border-bottom: 3.5px solid black; border-right: 3.5px solid black;}
.o{margin-top:205px; height:192.5px;border-top: 3.5px solid black; border-bottom: 3.5px solid black; border-right: 3.5px solid black;}
.p{vertical-align:middle;margin-top:191.25px; height:393px;border-top: 3.5px solid black; border-bottom: 3.5px solid black; border-right: 3.5px solid black;}
#champion{
margin-top:160px;
    width:40%;
    text-align: center;


}
.col{
    padding-right: 0px;
    padding-left: 0px;
}
.container{
    margin-left:60px;
}
#champName{
    width: 50%;
    height:95px;
    margin-left: 8px;
    border: 3.5px solid black;
    margin-top:10px;
}
#sees{
    vertical-align: middle;
}
